 <!DOCTYPE html>
 <html>
 <head>
    <title>Sakk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
</head>
<body>

    <div class="container">
        <section class="hero is-medium is-link">
          <div class="hero-body">
            <p class="title">
              Sakk játék
            </p>
            <p class="subtitle">
              
            </p>
          </div>
        </section>
        <section class="section is-medium">
          <h1 class="title">Játékmód választása ...</h1>
          <h2 class="subtitle">
            <a href="game" class="button is-large">Játék indítása!</a>
          </h2>
        </section>
    </div>

</body>
</html> 